body{
    background-color: #eaf6f6;
}
.dp{
    width: 120px;
    height: 120px;
    
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    height: 0px;
    border-color: rgb(184, 182, 182);
    width: 5%;
    }
h3 {
    color: #66BFBF;
}
h1 {
    color: #66BFBF;
}
